.newblogsection {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 80%;
    /*border: 2px solid black;*/
}

.textareatitle {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

textarea {
    font-size: 15px;
}

.chatcontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    float:right;
    width: 65vw;

}

.chatcontainer label {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.chatcontainer span {
    float:right;
    font-size: 15px;
    font-weight: bold;
    display:inline-block;
}

.chatcontainer a i {
    float:right;
    display: inline-block;
}

.likedislike {
    display: inline-block;
}


.social-like, .social-dislike {
    font-size: 16px;
    /*width: 48%;*/
    background-color: #00903B;
    color: #fff;
    cursor: pointer;
    display:inline-block;

}

.social-like:hover, .social-dislike:hover {
    text-decoration: none;
    color: white;
}

.social-like:active, .social-dislike:active {
    background-color: #00903B;
}

.social-like:active .count, .social-dislike:active .dislike {
    background-color: #00903B;
}


.social-like {
    border-radius: 5px;
}

.social-dislike {
    margin-left: 20px;
    border-radius: 5px;
}

.count, .like, .dislike {
    padding:10px;
}

.count, .dislike {
    display:inline;
    background-color: #00903B;
    border-radius: 50%;
    font-size:10px;
}

.dislike {
    margin-left: -10px;
}

.count {
    margin-right: -10px;
}


